* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1,
h4 {
  margin: 0 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
h3 {
  /* margin-right: auto; */
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  display: inline-block;
  margin: 5% 20%;
  padding: 10px;
  border: 1px solid black;
}

button {
  width: max-content;
  padding: 10px;
  margin: 2% 30%;
  margin-bottom: 0;
  background-color: antiquewhite;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}
button:hover {
  cursor: pointer;
}
.advice {
  border: 1px solid rgb(74, 74, 172);

  background-color: aquamarine;
  display: inline-block;
  padding: 20px;
  margin: 0 30%;
}
.logo {
  margin: 0 25%;
}
.count {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  /* display: inline-block; */
  margin: 3% 30%;
  padding: 10px;
  border: 1px solid rgb(6, 209, 6);
}

.share {
  margin-top: 20px;
  display: inline-block;
  margin-left: 30%;
}
.twitterIcon,
.whatsappIcon {
  margin-top: 10px;
}
